<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>first</key>
	<array>
		<string>artless</string>
		<string>bawdy</string>
		<string>beslubbering</string>
		<string>bootless</string>
		<string>churlish</string>
		<string>cockered</string>
		<string>clouted</string>
		<string>craven</string>
		<string>currish</string>
		<string>dankish</string>
		<string>dissembling</string>
		<string>droning</string>
		<string>errant</string>
		<string>fawning</string>
		<string>fobbing</string>
		<string>froward</string>
		<string>frothy</string>
		<string>gleeking</string>
		<string>goatish</string>
		<string>gorbellied</string>
		<string>impertinent</string>
		<string>infectious</string>
		<string>jarring</string>
		<string>loggerheaded</string>
		<string>lumpish</string>
		<string>mammering</string>
		<string>mangled</string>
		<string>mewling</string>
		<string>paunchy</string>
		<string>pribbling</string>
		<string>puking</string>
		<string>puny</string>
		<string>qualling</string>
		<string>rank</string>
		<string>reeky</string>
		<string>roguish</string>
		<string>ruttish</string>
		<string>saucy</string>
		<string>spleeny</string>
		<string>spongy</string>
		<string>surly</string>
		<string>tottering</string>
		<string>unmuzzled</string>
		<string>vain</string>
		<string>venomed</string>
		<string>villainous</string>
		<string>warped</string>
		<string>wayward</string>
		<string>weedy</string>
		<string>yeasty</string>
	</array>
	<key>second</key>
	<array>
		<string>base-court</string>
		<string>bat-fowling</string>
		<string>beef-witted</string>
		<string>beetle-headed</string>
		<string>boil-brained</string>
		<string>clapper-clawed</string>
		<string>clay-brained</string>
		<string>common-kissing</string>
		<string>crook-pated</string>
		<string>dismal-dreaming</string>
		<string>dizzy-eyed</string>
		<string>doghearted</string>
		<string>dread-bolted</string>
		<string>earth-vexing</string>
		<string>elf-skinned</string>
		<string>fat-kidneyed</string>
		<string>fen-sucked</string>
		<string>flap-mouthed</string>
		<string>fly-bitten</string>
		<string>folly-fallen</string>
		<string>fool-born</string>
		<string>full-gorged</string>
		<string>guts-griping</string>
		<string>half-faced</string>
		<string>hasty-witted</string>
		<string>hedge-born</string>
		<string>hell-hated</string>
		<string>idle-headed</string>
		<string>ill-breeding</string>
		<string>ill-nurtured</string>
		<string>knotty-pated</string>
		<string>milk-livered</string>
		<string>motley-minded</string>
		<string>onion-eyed</string>
		<string>plume-plucked</string>
		<string>pottle-deep</string>
		<string>pox-marked</string>
		<string>reeling-ripe</string>
		<string>rough-hewn</string>
		<string>rude-growing</string>
		<string>rump-fed</string>
		<string>shard-borne</string>
		<string>sheep-biting</string>
		<string>spur-galled</string>
		<string>swag-bellied</string>
		<string>tardy-gaited</string>
		<string>tickle-brained</string>
		<string>toad-spotted</string>
		<string>unchin-snouted</string>
		<string>weather-bitten</string>
	</array>
	<key>third</key>
	<array>
		<string>apple-john</string>
		<string>baggage</string>
		<string>barnacle</string>
		<string>bladder</string>
		<string>boar-pig</string>
		<string>bugbear</string>
		<string>bum-bailey</string>
		<string>canker-blossom</string>
		<string>clack-dish</string>
		<string>clotpole</string>
		<string>coxcomb</string>
		<string>codpiece</string>
		<string>death-token</string>
		<string>dewberry</string>
		<string>flap-dragon</string>
		<string>flax-wench</string>
		<string>flirt-gill</string>
		<string>foot-licker</string>
		<string>fustilarian</string>
		<string>giglet</string>
		<string>gudgeon</string>
		<string>haggard</string>
		<string>harpy</string>
		<string>hedge-pig</string>
		<string>horn-beast</string>
		<string>hugger-mugger</string>
		<string>joithead</string>
		<string>lewdster</string>
		<string>lout</string>
		<string>maggot-pie</string>
		<string>malt-worm</string>
		<string>mammet</string>
		<string>measle</string>
		<string>minnow</string>
		<string>miscreant</string>
		<string>moldwarp</string>
		<string>mumble-news</string>
		<string>nut-hook</string>
		<string>pigeon-egg</string>
		<string>pignut</string>
		<string>puttock</string>
		<string>pumpion</string>
		<string>ratsbane</string>
		<string>scut</string>
		<string>skainsmate</string>
		<string>strumpet</string>
		<string>varlot</string>
		<string>vassal</string>
		<string>whey-face</string>
		<string>wagtail</string>
	</array>
</dict>
</plist>
